<?xml version='1.0' encoding='utf-8'?>
<widget id="se.tusentips.app" version="1.0.3" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
	<name>TusenTips</name>
	<description>
		En app för att visa innehållet från tusentips.se
	</description>
	<author email="pg.sandstrom@gmail.com" href="http://persandstrom.se">
		Per Sandström
	</author>
	<content src="index.html"/>
	<access origin="*"/>
	<preference name="Fullscreen" value="false"/>
	<preference name="WebViewBounce" value="true"/>
	<preference name="Orientation" value="portrait"/>

</widget>
